

body, label, .form-label, .navbar, .card, .table, .table th, .table td, .nav-link, .btn-link, p, li, h1, h2, h3, h4, h5, h6, span {
    color: #ffffff !important;
}
input.form-control, select.form-control, textarea.form-control {
    color: #ffffff !important;
    background-color: #0b1725 !important;
}
form-control::placeholder {
    color: #cccccc !important;
}
